click==6.7
Flask==1.1.2
Flask-RESTful==0.3.8
Flask-JWT==0.3.2
Flask-HTTPAuth==4.0.0
itsdangerous==0.24
Jinja2==2.11.2
MarkupSafe==1.0
PyJWT==1.4.2
Werkzeug==1.0.1
Flask-RESTful==0.3.8
Flask-JWT==0.3.2
Flask-JWT-Extended
pymongo==3.10.1
uwsgi
mongoengine
flask-cors
passlib